<!Doctype HTML>
<html>
    <head>
      <!-- Import bootstrap and Css stylesheet -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@3.2.0/dist/fullcalendar.min.css">
      <!-- If title is given set title if not set No title specified  -->
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title> No title specified</title>
      {% endif %}
    </head> 

    <body>    
      <div class="container">
        <div class="row g-2 vh-100 align-items-center justify-content-center">
            <div class="col-sm-8 col-md-6 col-lg-4 bg-white rounded p-4 shadow">
              <h1 class = "mb-0 text-center">Details</h1>
                <form action="" method="post" name="providerform" >
                {{ providerform.hidden_tag() }}
                <!-- Each Question and Label is grouped in bootstrap Class form-group-->
                <div class="form-group">
                    <!-- Each label given bootstrap class form-label-->
                    {{ providerform.services_offered.label(class='form-label')}}<br>
                    <!-- Each User input box given class form-control and a placeholder-->
                    {{ providerform.services_offered (class='list-group')}}<br>
                    {% for error in providerform.services_offered.errors %}
                      <div class="alert alert-warning" role="alert">
                        <i class="bi bi-exclamation-triangle-fill"></i> {{ error }}
                      </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ providerform.country.label(class='form-label')}}<br>
                    {{ providerform.country (class='form-control', placeholder='Country') }}<br>
                    {% for error in providerform.country.errors %}
                      [{{ error }}]
                    {% endfor %}
                </div>
                <div class="form-group">
                  {{ providerform.city.label(class='form-label')}}<br>
                  {{ providerform.city (class='form-control', placeholder='City') }}<br>
                  {% for error in providerform.city.errors %}
                    [{{ error }}]
                  {% endfor %}
                </div>
                <div class="form-group">
                  {{ providerform.postcode.label(class='form-label')}}<br>
                  {{ providerform.postcode (class='form-control', placeholder='Postcode') }}<br>
                  {% for error in providerform.postcode.errors %}
                      [{{ error }}]
                  {% endfor %}
                </div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-success w-100">Register</button> 
              </form>
              <p class = "mb-0 text-center">Already signed up? <a href ="/login" class = "text-decoration-none">Login Here</a></p>
            </div>  
          </div>
        </div>
      </div>
    <!-- Import jquery for bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
</html>