{% extends "PageLayout.html" %}
{% block content %}    
<header>
  <h1>{{provider.user.fname}} {{provider.user.lname}}</h1>
</header>

<div class="container">
  <div class="row g-2 ">
    <div class="col">
      <h2 class="text-secondary text-center">Services: {{provider.services_offered}}</h2>
    </div>
  </div>
  <div class="row g-2 ">
    <div class="col">
      <h2 class="text-secondary text-center">Location: {{provider.country}} {{provider.city}} {{provider.postcode}}</h2>
    </div>
  </div>
  <div class="row g-2 ">
    <div class="col">
      <!-- If subheader is given set subheader if not set No subheader specified  -->
      {% if subheader1%}
      <h1>{{subheader1 }}</h1>
      {% endif %}
    </div>
  </div>
  <div id="calendar"></div>
  <div class="row g-2">
    <div class="col text-center">
      <a href="{{ url_for('CreateBooking', provider_id=provider.id) }}" class="btn btn-outline-primary">CreateBooking</a> 
    </div>
  </div>
  <div class="row g-2 ">
    <div class="col">
      <!-- If subheader is given set subheader if not set No subheader specified  -->
      {% if subheader2%}
      <a href="{{ url_for('Reviews', provider_id=provider.id) }}"><h1>{{subheader2 }}</h1></a>
      {% endif %}
    </div>
  </div>
  <div class="row g-2 ">
    {% for t in topreviews %}
    <div class="col-md-4 d-flex" >
      <div class="info shadow-sm border-light w-100">
        <div class="info-body">
          <h5 class="info-title text-primary">{{t.users.fname}} {{t.users.lname}}</h5>
          <p class="info-text">{{t.comment}}</p>
          <div class="star_rating">
            <span class="star {% if t.rating >= 1 %}whole{% endif %}"></span>
            {% if t.rating >= 1.5 %}
              <span class="star half"></span>
            {% endif %}
            <span class="star {% if t.rating >= 2 %}whole{% endif %}"></span>
            {% if t.rating >= 2.5 %}
              <span class="star half"></span>
            {% endif %}              
            <span class="star {% if t.rating >= 3 %}whole{% endif %}"></span>
            {% if t.rating >= 3.5 %}
              <span class="star half"></span>
            {% endif %}              
            <span class="star {% if t.rating >= 4 %}whole{% endif %}"></span>
            {% if t.rating >= 4.5 %}
              <span class="star half"></span>
            {% endif %}             
            <span class="star {% if t.rating >= 5 %}whole{% endif %}"></span>
          </div> 
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div id="bookedDates" style="display: none;">{{ booked_dates | safe }}</div>
<!-- Import jquery for bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.2.0/dist/fullcalendar.min.js"></script>
<script src="{{ url_for('static', filename='calendar.js') }}"></script>
{% endblock %}